.std
result

# prj-spec dirs
# <https://github.com/numtide/prj-spec>
.bin
.cache
.config
.data
.run
.local

/*/target/
target/
output/
.DS_STORE
.idea_modules
.idea
.vscode/
out/
/.bloop/
/.metals/
.bsp/
bsp.log

# nixago: ignore-linked-files
/.conform.yaml
/lefthook.yml
/treefmt.toml
